DATABASE_URL=postgresql://postgres:8UoSh23gaBCuEqgl@db.czazyzdgzzbggvqymxhf.supabase.co:5432/postgres 
SUPABASE_URL=https://czazyzdgzzbggvqymxhf.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN6YXp5emRnenpiZ2d2cXlteGhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0NTAwOTcsImV4cCI6MjA4OTAyNjA5N30.WiimanQelUDpFm2x3aDRpdcEBt8_GJSisqqaUjvuo80
SUPABASE_SERVICE_KEY=eeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN6YXp5emRnenpiZ2d2cXlteGhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ1MDA5NywiZXhwIjoyMDg5MDI2MDk3fQ.i6hwV0WRaD6lvXQdPCC0SMN6GWRNe2IuJ1XEwrkewBo
RESEND_API_KEY=re_dXgVLWjy_LtVkeRA1GSyAusj2niGXton1
EMAIL_FROM=ReWearth <rewearth.com>
