DATABASE_URL=postgresql://postgres:8UoSh23gaBCuEqgl@db.thzapvupdalwtdlhgfve.supabase.co:5432/postgres
SUPABASE_URL=https://thzapvupdalwtdlhgfve.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRoemFwdnVwZGFsd3RkbGhnZnZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0MjkwNzYsImV4cCI6MjA4OTAwNTA3Nn0.71ayDcE-y3RvAroR99pfnblDx_iR57TcGmyeYtfjcOo
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRoemFwdnVwZGFsd3RkbGhnZnZlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQyOTA3NiwiZXhwIjoyMDg5MDA1MDc2fQ.D9_SwSZYaZIjiJQTKqVQcUaKOFmkorUPCyJhnhiLM4Y
RESEND_API_KEY=re_dXgVLWjy_LtVkeRA1GSyAusj2niGXton1
EMAIL_FROM=ReWearth <rewearth.com>
